html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: Arial !important;
}

.square {
	width: 400px;
	height: 600px;
	float: left;
	margin-left: 250px;
}
.title {
	font-size: 30px;
	position: absolute;
	margin-left: 0px;
	margin-top: 10px;
	font-weight: bold;
}
.text {
	font-size: 30px;
	margin-top: 10px;
	margin-left: 40px;
	position: relative;
	float: left;
	font-weight: bold;
}
.game {
	margin-top: 40px;
	width: 200px;
	height: 400px;
	background-color: #000000;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	position: relative;
	float: left;
}
.next{
	
	width: 80px;
	height: 80px;
	background-color: #F2FAFF;
	position: relative;
	float: left;
	border: 1px solid black;	
	margin-left: 40px;
	margin-top: 11px;

}
.save{
	width: 80px;
	height: 80px;
	background-color: #F2FAFF;
	position: relative;
	float: left;
	border: 1px solid black;	
	margin-left: 40px;
}
.info {
	text-align: center;
	width: 80px;
	height: 20px;
	float: left;
	margin-left: 40px;
	margin-top: 60px;
	background-color: #F2FAFF;
	font-size: 7px;
	font-weight: bold;
}
.sub-info {
	text-align: center;
	width: 120px;
	height: 40px;
	float: left;
	margin-top: 20px;
	margin-left: -20px;
	background-color: #F2FAFF;
	font-weight: normal;
}
.none, .current, .done, .shadow {
	width: 20px;
	height: 20px;
	position: absolute;
	box-sizing: border-box;
}
.none {
/*
	background-color: #F2FAFF;
*/
	background: url('./Naive - Empty.png') no-repeat;
	background-size: cover;
	background-clip: border-box;
}
.current {
	background: url('./Naive - Active.png') no-repeat;
	background-size: cover;
	background-clip: border-box;
}
.done {
	background: url('./Naive - Filled.png') no-repeat;
	background-size: cover;
	background-clip: border-box;
}
.shadow {
	background: url('./Naive - Half Filled.png') no-repeat;
	background-size: cover;
	background-clip: border-box;
}


