<%include ../public/header.ejs%>


<%include ../public/headertop.ejs%>




<div class="container-fluid">
    <div class="row">
        <%include ../public/nav.ejs%>
        <div class="col-sm-10">

            <div class="panel panel-default">


                <h2 style="color:red;margin-top:50px;font-size: 40px;">欢迎您来到海底捞后台管理系统</h2>

            </div>

        </div>
    </div>
</div>

</body>
</html>
